@CHARSET "UTF-8";

.article{
	width:480px;
	margin-top:40px;
	margin:0 auto;
}

.article-title{
	font-size:35px;
	color:#fff;
	padding-top:10px;
}

.article-content{
	margin-top:-10px;
	border-top:double 5px #fff;
	border-bottom:double 5px #fff;
	text-align:center;
}

.article-content article{
	margin-top:10px;
	margin-bottom:10px;
}

.form-submit {
	color:white;
}

input{
	background-color:rgba(255,255,255,0.05);
}

input:focus{
	background:rgba(255,255,255,0.85);
}

.back{
	text-align:center;
	margin-top:20px;
}

img{
	width:90px;	
}