@CHARSET "UTF-8";

body{
	background: url(../img/background.jpg) no-repeat center;
	background-size: cover;
}

.article{
	width:480px;
	margin:0 auto;
}

.article-title{
	font-size:35px;
	color:#fff;
}

.article-content{
	border-top:double 5px #fff;
	border-bottom:double 5px #fff;
}

caption{
	display:none;
}

.form-header{
	padding-left:30px;
}

#login-email,#login-password{
	border:0;
	font-size:20px;
	font-family:Arial, sans-serif;
	border:solid 1px #ccc;
	width:300px;
	/*角丸*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

input{
	background-color:rgba(255,255,255,0.05);
}

input:focus{
	background:rgba(255,255,255,0.85);
}

.form-data{
	padding:5px;
}