@CHARSET "UTF-8";

.article{
	width:480px;
	margin:0 auto;
	margin-top:20px;
}

.article-title{
	font-size:35px;
	color:#fff;
}

.article-content{
	text-align:center;
}

input{
	background-color:rgba(255,255,255,0.05);
}

input:focus{
	background:rgba(255,255,255,0.85);
}

.form-data{
	padding:10px;
}

.songimg{
	width:350px;
	height:347px;
}

.form-submit{
	text-align:right;
	margin:10px 27px 20px 0;
}

.form-submit input{
	color:white;
	padding:3px 5px 3px 5px;
}

li{
	list-style:none;
	margin-left:0;
	margin-top:10px;
}

h3,figcaption{
	color: #1aa;
  	margin-top: 24px;
}

.song-artist p a{
	color:white;
}

.song-title input{
	color:white;
}

.song-remarks p{
	color:white;
}

.song-add ul input{
	color:white;
}

.back{
	text-align:center;
	margin-top:10px;
}

.song-img img{
	width: 300px;
	opacity: 0;
}

.button {
	display: inline-block;
	width: 200px;
	text-align: center;
	text-decoration: none;
	line-height: 54px;
	outline: none;
	letter-spacing: 3px;
}
.button::before,
.button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button,
.button::before,
.button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.button {
	background-color: #333;
	color: #fff;
}
.button:hover {
	letter-spacing: 6px;
	background-color: rgba(57, 107, 107, 1);
}