@CHARSET "UTF-8";

.article{
	width:480px;
	margin:0 auto;
	margin-top:20px;
}

.article-title{
	font-size:35px;
	color:#fff;
}

.article-content{
	text-align:center;
}

input{
	background-color:rgba(255,255,255,0.05);
}

input:focus{
	background:rgba(255,255,255,0.85);
}

.form-data{
	padding:10px;
}

.songimg{
	width:350px;
	height:347px;
}

.form-submit{
	text-align:right;
	margin:10px 27px 20px 0;
}

.form-submit input{
	color:white;
	padding:3px 5px 3px 5px;
}

li{
	list-style:none;
	margin-left:0;
	margin-top:10px;
}

h3,figcaption{
	color:white;
}

.song-artist p a{
	color:white;
}

.song-title input{
	color:white;
}

.song-remarks p{
	color:white;
}

.song-add ul input{
	color:white;
}

.back{
	text-align:center;
	margin-top:10px;
}

img{
	width:90px;	
}