@CHARSET "UTF-8";

/*
 * micro clearfix
 */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/*
 * AngularJS
 */

.ang-errorMsg {
  margin: 16px 0 0 0;
  font-size: 16px;
  color: rgb(245, 50, 147);
}

/*
 * Template
 */

.wrapper {
  
}

.header {
  
}

.main {
  
}

.footer {
  
}

