@CHARSET "UTF-8";

/*
 * AngularJS
 */

.ang-errorMsg {
  margin: 16px 0 0 0;
  font-size: 16px;
  color: rgb(245, 50, 147);
}

.ang-okMsg {
  margin: 16px 0 0 0;
  font-size: 16px;
  color: rgb(70, 245, 50);
}

/*
 * Template
 */

body{
  background: url(../img/background.jpg) no-repeat center;
  background-size: cover;
}

img {
  width: 140px;
  height: 140px;
}

.header {
  
}

.main {
  
}

.footer {
  
}

