@charset "utf-8";

.login-form-article {
	width: 620px;
	margin: 80px auto 0;
	border: 1px solid #676FA3;
	border-radius: 20px;
}

fieldset {
	width: 600px;
	margin: 40px auto 29px;
}

legend {
	width: 522px;
	margin: 0 auto 36px;
	font-size: 30px;
}

.form-group {
	width: 522px;
	margin: 0 auto 28px;
}

.form-group:last-child {
	width: 522px;
	margin: 0 auto;
}

.form-group label {
	display: block;
	font-size: 22px;
}

.form-group input {
	display: block;
	width: 522px;
	height: 55px;
}

/* ログインボタンだけ真ん中にする */
.form-btn {
	text-align: center;
}

.login-btn {
	background: -moz-linear-gradient(top,#09C 0%,#09C 50%,#069 50%,#069);
  background: -webkit-gradient(linear, left top, left bottom,from(#09C), color-stop(0.5,#09C), color-stop(0.5,#069),  to(#069));
  border: 1px solid #DDD;
  color: #FFF;
  width: 100px;
  padding: 10px 0;
}